*{
    padding: 0;
    margin: 0;
}
body {
    min-width: 360px;
    color: #000000;
    font-family: 'Lato Regular', sans-serif;
}
.content_1600 {
    width: 1600px;
    padding: 0 50px;
}
.content_1270 {
    width: 1274px;
    padding: 0 50px;
}
.section {
    width: 100%
}
.flex {
    display: flex
}
.justify_center {
    display: flex;
    justify-content: center;
}
.align_center {
    display: flex;
    align-items: center;
}
.between {
    display: flex;
    justify-content: space-between;
}
.flow_column {
    display: flex;
    flex-flow: column;
}