@font-face
  font-family: 'Lato Black'
  src: url('../assets/fonts/Lato/latoblack.woff') format('woff')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Lato Bold'
  src: url('../assets/fonts/Lato/latobold.woff') format('woff')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Lato Heavy'
  src: url('../assets/fonts/Lato/latoheavy.woff') format('woff')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Lato Semibold'
  src: url('../assets/fonts/Lato/latosemibold.woff') format('woff')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Lato Regular'
  src: url('../assets/fonts/Lato/latoregular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Lato Light'
  src: url('../assets/fonts/Lato/latolight.woff') format('woff')
  font-weight: 300
  font-style: normal

.headline_1
  font-family: 'Lato Black', sans-serif
  font-size: 100px
  line-height: 120%
  letter-spacing: 0.02em

.title_1
  font-family: 'Lato Black', sans-serif
  font-size: 40px
  line-height: 120%
  letter-spacing: 0.02em

.title_2
  font-family: 'Lato Bold', sans-serif
  font-size: 30px
  line-height: 140%
  letter-spacing: 0.02em

.title_3
  font-family: 'Lato Heavy', sans-serif
  font-size: 20px
  line-height: 120%
  letter-spacing: 0.02em

.title_4
  font-family: 'Lato Heavy', sans-serif
  font-size: 24px
  line-height: 120%
  letter-spacing: 0.02em

.title_5
  font-family: 'Lato Heavy', sans-serif
  font-size: 16px
  line-height: 120%
  letter-spacing: 0.02em

.title_6
  font-family: 'Lato Heavy', sans-serif
  font-size: 20px
  line-height: 120%
  letter-spacing: 0.02em

.subtitle_1
  font-family: 'Lato SemiBold', sans-serif
  font-size: 30px
  line-height: 120%
  letter-spacing: 0.02em

.body_1
  font-family: 'Lato Regular', sans-serif
  font-size: 24px
  line-height: 140%
  letter-spacing: 0.02em

.body_2
  font-family: 'Lato Regular', sans-serif
  font-size: 20px
  line-height: 140%
  letter-spacing: 0.02em

.body_3
  font-family: 'Lato Light', sans-serif
  font-size: 20px
  line-height: 120%
  letter-spacing: 0.02em

.body_4
  font-family: 'Lato SemiBold', sans-serif
  font-size: 24px
  line-height: 140%
  letter-spacing: 0.02em

.body_5
  font-family: 'Lato Regular', sans-serif
  font-size: 16px
  line-height: 140%
  letter-spacing: 0.02em

.outcomes_info
  max-width: 970px

.outcomes
  color: #ffffff
  height: 89vh
  background-color: #000000

.outcomes_h1
  padding-top: 103px
  padding-bottom: 52px

.outcomes_arrows
  margin-top: auto
  margin-bottom: 62px

.ceo_guide
  height: 242px
  background-color: #000000
  color: #FFFFFF

.ceo_guide_container
  display: flex
  justify-content: space-between
  align-items: center
  img
    margin-right: 37px
  h2
    margin-right: 20px
  button
    flex-shrink: 0

.steps
  background: url('../assets/images/main/steps_bg.svg') no-repeat center #FFFFFF
  padding-top: 272px
  padding-bottom: 248px
  text-align: center

.steps_step
  padding-bottom: 28px
  h2
    text-transform: uppercase

.steps_final_step
  padding-top: 24px

.cases
  //display: flex
  //justify-content: center
  background-color: #FAFAFA
  padding-top: 156px
  padding-bottom: 112px

.cases_t1
  max-width: 540px
  padding-bottom: 11px

.cases_box
  width: 100%
  display: flex
  justify-content: center
  margin: 96px 0 0 0

.case
  width: 300px
  height: 433px
  padding: 20px
  background: #FFFFFF
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08)
  border-radius: 8px
  flex-shrink: 0
  cursor: pointer
  &:nth-child(2)
    margin: 0 20px
  &:hover
    box-shadow: 0 0 0 2px #A8BDE5
  &:active
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08)

.case_view
  opacity: 1
  height: inherit
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center
  text-align: center
  transition: opacity ease-in-out 0.3s
  -webkit-transition: opacity ease-in-out 0.3s
  -moz-transition: opacity ease-in-out 0.3s

.case_view_img
  width: 227px
  height: 227px
  margin-bottom: 15%

.case_description
  opacity: 0
  width: 0
  height: 0
  position: absolute
  overflow-y: hidden
  transition: opacity ease-in-out 0.3s
  -webkit-transition: opacity ease-in-out 0.3s
  -moz-transition: opacity ease-in-out 0.3s
  h6
    margin-bottom: 10px

.show_case
  .case_description
    opacity: 1
    width: auto
    height: inherit
    position: relative
  .case_view
    opacity: 0
    width: 0
    height: 0
    position: absolute
    overflow-y: hidden

.case_description_btn
  margin-top: auto

//  ------------------------------------

.app_list, .black_app_list
  list-style: none
  margin-left: 15px
  color: #FFFFFF

.app_list, .black_app_list
  li
    margin-bottom: 9px
    font-family: 'Lato Regular', sans-serif
    font-size: 20px
    line-height: 140%
    letter-spacing: 0.02em
    &::before
      content: "\2022"
      display: inline-block
      width: 15px
      margin-left: -15px

.black_app_list
  color: #000000

.app_hover_content
  opacity: 0
  width: 100%
  height: 100%
  right: 0
  position: absolute
  background: rgba(0, 0, 0, 0.1)
  z-index: 1
  transition: all ease-in-out 0.3s
  -webkit-transition: all ease-in-out 0.3s
  -moz-transition: all ease-in-out 0.3s
  &:hover
    opacity: 1

.app_hover_btn
  width: 35%
  height: 100%
  position: absolute
  background-color: #334059
  font-family: 'Lato SemiBold', sans-serif
  font-size: 20px
  line-height: 120%
  letter-spacing: 0.02em
  text-transform: uppercase
  color: #FFFFFF
  text-align: center
  text-decoration: none

.app_hover_btn_right
  @extend .app_hover_btn
  right: 0

.app_hover_btn_left
  @extend .app_hover_btn
  left: 0

.daryou
  background: linear-gradient(90.43deg, #080709 0.11%, #232428 99.88%)
  color: #FFFFFF
  position: relative

.daryou_info
  max-width: 950px

.daryou_info_t2
  margin: 55px 0
  color: #FFFFFF

.daryou_gift
  width: 277px
  height: 261px
  margin-top: 10px

.daryou_app
  width: 370px
  padding-top: 63px
  margin-left: 130px

.daryou_app_header
  margin-left: 49px
  h2
    margin-bottom: 2px

.daryou_icon
  width: 85px
  height: 85px

.daryou_app_img
  margin-top: 57px
  width: 232px
  height: 406px

.dragonoption
  background-color: #FFD900
  position: relative

.dragonoption_app
  /*width: 394px*/
  padding-top: 79px

.dragonoption_app_header
  margin-left: 49px
  p
    color: #968416

.dragonoption_icon
  width: 85px
  height: 85px

.dragonoption_app_img
  width: 570px
  margin-top: 20px
  margin-left: -95px

.dragonoption_info
  max-width: 990px

.dragonoption_info_t2
  margin: 50px 0

.dragonoption_bitcoin
  width: 323px
  height: 321px

.loanstream
  background-color: #24283F
  position: relative

.loanstream_info
  max-width: 1040px

.loanstream_info_t2
  margin-top: 56px
  margin-bottom: 50px
  color: #FFFFFF

.loanstream_info_lists
  display: flex
  ul:first-child
    margin-right: 90px

.loanstream_app
  padding-top: 64px
  margin-left: 90px

.loanstream_app_header
  margin-left: 38px
  h2
    color: #FFFFFF
    margin-bottom: 2px
  p
    color: #D2D2D3

.loanstream_icon
  width: 99px
  height: 85px

.loanstream_app_img
  margin-top: 54px
  margin-left: -205px
  position: absolute

.insights
  padding: 132px 0 146px 0
  background-color: #FFFFFF

.insights_t1
  padding-bottom: 68px

.insights_full
  max-width: 785px
  margin-right: 78px

.full_insight:not(:last-child)
  padding-bottom: 40px

.full_insight_img
  min-width: 200px
  width: 200px
  height: 200px
  margin-right: 56px

.full_insight_t3, .min_insight_t5
  display: inline
  color: #334059
  border-bottom: 1px solid #334059

.full_insight_t4
  padding: 30px 0 8px 0

.full_insight_b5
  color: #979797
  margin-top: auto

.insights_min
  max-width: 415px

.insights_separator
  width: 2px
  margin-top: 23px
  height: 80%
  margin-right: 60px
  background-color: #E2E2E2

.min_insight
  border-bottom: 1px solid #E2E2E2
  margin-bottom: 20px

.min_insight_t6
  padding: 20px 0

.min_insight_btn
  margin-top: auto

.questions
  background-color: #FAFAFA
  padding: 97px 0 83px 0

.questions_t1
  padding-bottom: 100px

.questions_list
  max-width: 985px
  padding-right: 100px
  list-style: none
  li
    margin-bottom: 18px
    font-family: 'Lato Regular', sans-serif
    font-size: 20px
    line-height: 140%
    letter-spacing: 0.02em
    cursor: pointer
    &::before
      content: ""
      display: inline-block
      width: 45px
      height: 2px
      margin-bottom: 6px
      margin-right: 9px
      background: #000000
      border-radius: 2px

.question_text
  opacity: 0
  width: 0
  height: 0
  position: absolute
  overflow-y: hidden
  cursor: auto
  transition: opacity ease-in-out 0.3s
  -webkit-transition: opacity ease-in-out 0.3s
  -moz-transition: opacity ease-in-out 0.3s

.show_questions
  .question_text
    opacity: 1
    width: auto
    height: auto
    position: relative
    padding: 4px 0 0 55px

.questions_t2
  padding: 130px 0 35px 0

.become
  padding: 100px 0 90px 0
  text-align: center
  background-color: #000000

.become_content
  width: 770px
  padding: 0 50px

.become_t2
  color: #FFFFFF

.become_b3
  margin: 20px 0 40px 0
  color: #FFFFFF

@media screen and (max-width: 1280px)
  .headline_1
    font-size: 60px

  .title_1
    font-size: 40px

  .body_1
    font-size: 16px

  .body_4
    font-size: 16px

  .body_5
    font-size: 10px

  .outcomes_h1
    padding-top: 66px
    padding-bottom: 46px

  .ceo_guide
    height: 146px

  .cases
    padding-top: 75px
    padding-bottom: 83px

  .cases_box
    //width: 636px
    margin: 64px auto 0 auto

  .case
    width: 184px
    height: 262px
    padding: 9px 8px

  .case_view
    h6
      max-width: 160px

  .case_view_img
    width: 125px
    height: 125px

  .case_description
    h6
      margin-bottom: 4px
    a
      padding: 9px 14px


@media screen and (max-width: 760px)
  .headline_1
    font-size: 36px

  .title_1
    font-size: 36px

  .outcomes_h1
    padding-top: 30px
    padding-bottom: 24px

  .ceo_guide
    height: 246px

  .ceo_guide_container
    width: 290px
    flex-direction: column
    justify-content: center
    img
      margin-right: 13px
    h2
      margin-right: 0
    button
      margin-top: 34px

  .steps
    padding-top: 152px
    padding-bottom: 161px

  .steps_final_step
    width: 70%
    margin: 0 auto
    padding-top: 16px
    font-size: 16px

  .cases
    justify-content: start

  .cases_box
    width: 100%
    margin: 40px 0 0 0
    justify-content: start
    overflow-x: scroll