body
  color: #3D3D3D

.content
  width: 960px
  padding: 0 60px

.section
  width: 100%

.flex
  display: flex

.justify_center
  display: flex
  justify-content: center

.align_center
  display: flex
  align-items: center

.between
  display: flex
  justify-content: space-between

.around
  display: flex
  justify-content: space-around

.flow_column
  display: flex
  flex-flow: column

.title_1
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 900
  font-size: 60px
  line-height: 72px
  text-align: center

.title_2
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 900
  font-size: 28px
  line-height: 42px
  letter-spacing: 0.01em

.title_3
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 900
  font-size: 30px
  line-height: 36px

.subtitle_1
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: bold
  font-size: 24px
  line-height: 36px
  letter-spacing: 0.01em

.body_1
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 30px
  letter-spacing: 0.03em

.body_2
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 800
  font-size: 20px
  line-height: 30px
  letter-spacing: 0.03em

.body_3
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 24px
  letter-spacing: 0.02em

.page_header
  padding: 150px 0 164px 0
  color: #ffffff
  background-color: #000000

.first_section
  padding: 70px 0 50px 0
  background-color: #FAFAFA
  border-bottom: 1px solid #E5E5E5

.second_section
  padding: 70px 0 10px 0
  border-bottom: 1px solid #E5E5E5

.second_section_p
  padding: 50px 0
  text-align: center

.image_columns_box
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.image_column
  max-width: 460px
  margin-bottom: 40px

.image_column_icon
  width: 110px
  height: 110px

.image_column_title
  padding: 40px 0

.third_section
  padding: 70px 0 50px 0
  background-color: #FAFAFA
  border-bottom: 1px solid #E5E5E5

.orange_card_box
  margin-top: 60px
  display: flex
  justify-content: space-between

.orange_card
  width: 225px

.orange_card_title
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 900
  font-size: 60px
  line-height: 72px
  text-align: center
  text-transform: uppercase
  color: #F07C26

.orange_card_p
  margin-top: 50px

.fourth_section
  padding: 70px 0 50px 0
  border-bottom: 1px solid #E5E5E5

.fourth_section_p
  padding: 50px 0 10px 0
  text-align: center

.fourth_section_h3
  padding: 40px 0 20px 0
  text-align: center

.fifth_section
  padding: 70px 0 10px 0
  background-color: #FAFAFA
  border-bottom: 1px solid #E5E5E5

.fifth_section_p
  padding: 50px 0
  text-align: center

.sixth_section
  padding: 70px 0 50px 0
  border-bottom: 1px solid #E5E5E5

.sixth_section_p
  padding: 50px 0
  text-align: center

.gray_cards
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  margin: -20px 0

.gray_card
  max-width: 365px
  display: flex
  align-items: center
  padding: 20px 0

.gray_card_icon
  width: 46px
  height: 44px
  flex-shrink: 0
  margin-right: 40px

.seventh_section
  padding: 80px 0 100px 0
  background-color: #171718
  color: #FFFFFF

.seventh_section_p
  padding-top: 8px

.seventh_section_form
  display: flex
  align-items: center
  padding-top: 40px

.seventh_section_input
  width: 100%
  height: 44px
  max-width: 428px
  padding: 0 20px
  background-color: #FFFFFF
  border: 1px solid #E5E5E5
  border-radius: 4px
  outline: none
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 24px

.seventh_section_btn
  padding: 8px 58px
  margin-left: 20px
  background-color: #334059
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 500
  font-size: 20px
  line-height: 140%
  text-transform: uppercase
  color: #FFFFFF
  border: 1px solid #808796
  border-radius: 4px
  outline: none
  cursor: pointer
  text-decoration: none
  &:hover
    border: 1px solid #FFFFFF

.eighth_section
  padding: 70px 0 50px 0

.eighth_section_p
  padding: 50px 0 10px 0
  text-align: center

.three_steps_box
  display: flex
  flex-direction: column

.three_step
  display: flex
  margin-top: 40px

.three_step_title
  display: flex
  align-items: center
  max-width: 310px
  width: 100%
  line-height: 108%
  letter-spacing: 0

.three_step_description
  max-width: 634px
  margin-left: 20px

.ninth_section
  padding: 70px 0 30px 0
  background-color: #3D3D3D
  color: #FFFFFF

.ninth_form_box
  display: flex
  justify-content: space-between
  margin-top: 80px

.ninth_form_column
  max-width: 470px
  width: 100%

.ninth_section_h3
  font-weight: 600

@media screen and (max-width: 1080px)
  .title_1
    font-size: 54px
    line-height: 64px

  .image_columns_box
    justify-content: center

  .image_column
    margin: 0 auto 40px auto

  .image_column_icon
    margin: 0 auto

  .image_column_title
    text-align: center

  .three_step_title
    max-width: 250px

@media screen and (max-width: 980px)
  .orange_card_box
    margin-top: 20px
    flex-flow: column

  .orange_card
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    margin-top: 40px

  .orange_card_title
    width: auto
    margin-right: 40px
    text-align: left

  .orange_card_p
    margin-top: 0

@media screen and (max-width: 840px)
  .gray_cards
    flex-flow: column

  .gray_card
    max-width: 100%

@media screen and (max-width: 760px)
  .title_1
    font-size: 36px
    line-height: 43px
    letter-spacing: 0.02em

  .title_2
    font-size: 34px
    line-height: 118.56%

  .title_3
    font-size: 24px
    line-height: 29px

  .body_1
    font-size: 16px
    line-height: 24px

  .content
    padding: 0 20px

  .page_header
    padding: 106px 0

  .first_section
    padding: 55px 0

  .second_section_p
    padding: 40px 0
    text-align: left

  .image_column_icon
    width: 90px
    height: 90px

  .image_column_title
    padding: 20px 0

  .orange_card_box
    margin-top: 0

  .orange_card
    justify-content: start

  .orange_card_title
    width: 115px
    flex-shrink: 0
    margin-right: 0
    font-size: 36px
    line-height: 43px

  .fourth_section_p
    padding: 40px 0 0 0
    text-align: left

  .fourth_section_h3
    text-align: left

  .fifth_section_p
    padding: 40px 0
    text-align: left

  .sixth_section_p
    padding: 24px 0 40px 0
    text-align: left

  .seventh_section
    padding: 70px 0 50px 0

  .seventh_section_h4
    font-size: 24px
    line-height: 34px

  .seventh_section_p
    padding-top: 10px

  .seventh_section_form
    flex-flow: column

  .seventh_section_input
    width: 80%

  .seventh_section_btn
    font-size: 16px
    margin-top: 16px

  .eighth_section_p
    padding: 40px 0 0 0
    text-align: left

  .three_step
    display: flex
    flex-flow: column

  .three_step_title
    display: flex
    align-items: center
    text-align: left
    font-size: 24px
    line-height: 96%
    max-width: 100%

  .three_step_description
    max-width: 100%
    margin-left: 0
    margin-top: 20px

  .ninth_section
    padding: 70px 0 30px 0

  .ninth_form_box
    flex-flow: column
    align-items: center
    margin-top: 30px

  .ninth_form_column
    padding-bottom: 40px

  .ninth_section_h2
    font-size: 30px
    line-height: 118.56%
    text-align: left
