@font-face
  font-family: 'Lato Light'
  src: url('../../assets/fonts/Lato/latolight.woff') format('woff')
  font-weight: 300
  font-style: normal
  font-display: fallback

.content
  width: 1600px
  padding: 0 70px

.section
  width: 100%

.justify_center
  display: flex
  justify-content: center

.align_center
  display: flex
  align-items: center

.between
  display: flex
  justify-content: space-between

.header
  height: 109px
  background-color: #000000
  position: sticky
  top: 0
  z-index: 1000
  border-bottom: 1px solid #000000
  transition: all ease-in-out 0.3s
  -webkit-transition: all ease-in-out 0.3s
  -moz-transition: all ease-in-out 0.3s

.header_mobile
  display: none

.header_mobile_menu
  width: 30px
  height: 31px
  position: absolute
  left: 16px
  background: url("../../assets/images/header/svg_menu_white.svg") no-repeat center
  border: 0

.company_logo_mini
  width: 30px
  height: 30px
  background: url("../../assets/images/header/svg_logo_mini.svg") no-repeat center

.header_desktop
  display: flex

.header_white
  border-bottom: 1px solid #EFEFEF
  background-color: #FFFFFF
  .company_logo
    background-image: url("../../assets/images/header/svg_logo_black.svg")
  .header_mobile_menu
    background-image: url("../../assets/images/header/svg_menu_black.svg")
  .header_menu_link
    color: #000000
    &.header_menu_link:hover
      border-bottom: 1px solid #000000

.company_logo
  width: 141px
  height: 31px
  text-decoration: none
  background-image: url("../../assets/images/header/svg_logo_white.svg")
  background-repeat: no-repeat
  transition: background-image ease-in-out 0.3s
  -webkit-transition: background-image ease-in-out 0.3s
  -moz-transition: background-image ease-in-out 0.3s

.header_menu
  a:not(:first-child)
    margin-left: 73px

.header_menu_link
  font-family: 'Lato Light', sans-serif
  font-size: 20px
  line-height: 120%
  letter-spacing: 0.02em
  color: #ffffff
  text-decoration: none
  transition: all ease-in-out 0.3s
  -webkit-transition: all ease-in-out 0.3s
  -moz-transition: all ease-in-out 0.3s
  &:hover
    margin-top: 1px
    border-bottom: 1px solid #FFFFFF

  body
    overflow: hidden

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .header
    position: fixed

@media screen and (max-width: 1600px)
  .content
    width: 100%

@media screen and (max-width: 1200px)
  .content
    padding: 0 60px

  .company_logo
    width: 111px
    height: 24px

  .header_menu
    a:not(:first-child)
      margin-left: 30px

  .header_menu_link
    font-size: 16px

@media screen and (max-width: 760px)
  .content_1600
    padding: 0 16px

  .header
    height: 71px

  .header_mobile
    display: flex

  .header_desktop
    display: none