@font-face
  font-family: 'Lato Light'
  src: url('../../assets/fonts/Lato/latolight.woff') format('woff')
  font-weight: 300
  font-style: normal

.header
  height: 109px
  background-color: #000000
  position: sticky
  top: 0
  z-index: 1000

.company_logo
  text-decoration: none
  height: 31px

.header_menu
  a:not(:first-child)
    margin-left: 73px

.header_menu_link
  font-family: 'Lato Light', sans-serif
  font-size: 20px
  line-height: 120%
  letter-spacing: 0.02em
  color: #ffffff
  text-decoration: none
  &:hover
    margin-top: 2px
    border-bottom: 1px solid #FFFFFF