*
  padding: 0
  margin: 0

body
  min-width: 360px
  color: #000000
  font-family: 'Lato', sans-serif

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  body
    padding-top: 70px

@media screen and (max-width: 760px)
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    body
      padding-top: 70px